<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
</div>
<span>Highest Grade Completed</span>
<select [(ngModel)]="filterGrade" (change)="filter(filterGrade)">
  <option>12</option>
  <option>10</option>
  <option>9</option>
  <option>8</option>
  <option>7</option>
  <option>6</option>
  <option>5</option>
  <option>4</option>
  <option>3</option>
  <option>2</option>
  <option>1</option>
  <option>0</option>
</select>
<div>
  <span>Year</span>
  <select [(ngModel)]="searchYear" (change)="getCommonCoreDataByYear(searchYear)">
      <option selected>2016</option>
      <option>2015</option>
      <option>2014</option>
      <option>2013</option>
  </select>
</div>
<pre>
    {{ rowData | json }}
</pre>


